include README ChangeLog LICENSE
include scripts/python-csp

recursive-include applications/ *.py
recursive-include jythonsetup/ *.py
recursive-include csp/ *.py
recursive-include bsp/ *.py
recursive-include reactive/ *.py
