[Desktop Entry]
Name=Python-CSP
Comment=Communicating Sequential Processes in Python
Exec=/usr/bin/python-csp
Icon=/usr/share/pixmaps/python.xpm
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
